{% extends 'users/base.html' %}
{% load static %}
{% block content %}
    <h1>Welcome, Admin Dashboard</h1>
    <p>You are logged in as an <strong>Admin</strong>.</p>
    <a href="{% url 'profile' %}">My Profile</a>
    <h2>Admin Actions:</h2>
    <ul>
        <li><a href="{% url 'create_block' %}">Create Block</a></li>
        <li><a href="{% url 'list_blocks' %}">List Blocks</a></li>
        <li><a href="{% url 'create_user' %}">Create User</a></li>
        <li><a href="{% url 'list_users' %}">List Users</a></li>
    </ul>

{% endblock %}
